

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
}

.calendar{
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 30px #222;
    overflow: hidden;
    width: 300px;
    color: #fff;
    padding: 20px;
}

.calendar .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.calendar .header #month-year{
    font-weight: bold;
    font-size: 20px;
}

.calendar .header .btn{
    cursor: pointer;

}

.calendar .weekDays,
.calendar .days{
    display: flex;
    flex-wrap: wrap;
}

.calendar .weekDays div,
.calendar .days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.calendar .days div{
    cursor: pointer;
    transition: 0.3s;
}
.calendar .days div:hover{
    background-color: #fff;
    color: orangered;
}

.calendar .days{
    height: 240px;
}

.calendar .days div.today{
    background-color: orangered;
    color: #fff;
}

.calendar .days div.fade{
    color: #555;
}